<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>WIP</h1>
                <h4><a href="/api">Read My API Documentation</a></h4>
                <form class="form-inline" id="newStrainForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Strain Name">
                    </div>
                    <div class="form-group">
                        <label for="tastes">Tastes</label>
                        <input type="text" class="form-control" name="tastes" placeholder="Strain Taste">
                    </div>
                    <div class="form-group">
                        <label for="outdoorGrown">Is it grown outdoors?</label>
                        <input type="boolean" class="form-control" name="outdoorGrown" placeholder="Grown Outdoors?">
                    </div>
                    <div class="form-group">
                        <label for="smellScale">Scale of 1-10. How pungent is the scent?</label>
                        <input type="number" class="form-control" name="smellScale" placeholder="Smell Scale">
                    </div>
                    <div class="form-group">
                        <label for="treats">What is it used to treat?</label>
                        <input type="text" class="form-control" name="treats" placeholder="Treats: ">
                    </div>
                    <button type="submit" class="btn btn-default">Create strain</button>
                </form>
                <div id='strainTarget'>
                    <script id="strains-template" type="text/x-handlebars-template">
                        {{#each strains}}
                        <hr>
                        <p>
                            <b>{{name}}</b>
                            <br> It tastes {{tastes}}.
                            <br> It's preferred growing method is {{#if outdoorGrown}}outdoors. {{else}}indoors.{{/if}}
                            <br> On a scale of 1-10, {{name}}, smells at the strength of about a(n) {{smellScale}}.
                            <br> {{name}} is used to treat {{treats}}.
                            <br>
                            <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                        </p>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
