body {
  color: rgb(255,199,12);
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(178,138,0);
}

img {
  width: 100px;
  height: 100px;
  position: absolute;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

h1 {
  margin-top: 50px;
  text-align: center;
  padding: 20px;
  background-color: rgb(95,115,255);
  border: solid 2px black;
  color: rgb(255,199,12);
}

a {
  padding-top: 20px;
  padding: 10px;
  margin: 20px;
  color: black;
  background-color: rgb(95,115,255);
  border: solid 2px black;
}

p {
  background-color: rgb(12,43,255);
  font-color: rgb(255,199,12);
  padding: 20px;
  padding-left: 120px;
}

.btn {
  padding: 10px;
  background-color: rgb(12,43,255);
}

.form-group {
  background-color: rgb(12,43,255);
  padding: 20px;
}
